body {
	display: flex;
	flex-flow: row wrap;
}

#forma {
	margin: 120px auto;
	flex-basis: 100%;
}


.inn {
	background-color: aqua;
	height: 100px;
	width: 200px;
	text-align: center;
	vertical-align: bottom;
	line-height: 100px;
	margin: 0 auto;
}
